* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .wrapper {
    width: 100%;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #550707;
    color: white;
    padding: 0.8em 1.2em;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    padding: 0 1em;
  }
  
  .nav-link {
    text-decoration: none;
    color: rgb(255, 203, 32);
    font-size: 1.2em;
  }
  
  .navbar-toggle {
    display: none;
    cursor: pointer;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
  }

  .content {
    padding-top: 100px;
    padding-bottom: 10px;
    margin: 5px;
  }
  
  @media (max-width: 768px) {
    .nav-list {
      position: absolute;
      left: -100%;
      top: 5rem;
      flex-direction: column;
      background-color: #333;
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      transition: left 0.3s ease;
    }
  
    .nav-item {
      margin: 1.5em 0;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .nav-list.active {
      left: 0;
    }
  }