.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); // 7 days a week
  .day {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
    &:hover {
      background-color: #f0f0f0;
    }
  }
}

// .content {
//     text-align: center;
//     padding: 2em;
//     /* Add more styling as needed */
//   }